@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

/* header and hero */
@media only screen and (max-width: 625px) {
  #header .nav {
    display: none;
  }
  #header .mobile_nav {
    display: inline-block;
  }
  #hero .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }
  #hero .sec_heading {
    font-size: 2rem;
    text-align: center;
  }
  #hero .sec_sub_heading {
    text-align: center;
  }
  #hero .buttons {
    justify-content: center;
  }
  #hero .sec_image {
    max-width: 25rem;
    margin-top: -2rem;
  }
}

/* service */
@media only screen and (max-width: 645px) {
  #service .service_container {
    gap: 2rem;
  }
}

/* about */
@media only screen and (max-width: 645px) {
  #about .container {
    flex-direction: column;
    gap: 2rem;
  }
}

/* pricing */
@media only screen and (max-width: 950px) {
  #pricing .standard {
    margin-top: 0;
  }
}

/* contact */
@media only screen and (max-width: 780px) {
  #contact .container {
    flex-direction: column;
  }
}

/* footer */
@media only screen and (max-width: 950px) {
  #footer .footer_content {
    gap: 1rem;
  }
}
