@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    transition: ease .3s;
    font-family: Montserrat;
}

html{
    font-size: 14px;
}

a{
    display: inline-block;
}

section{
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

.sec_heading{
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: .1rem;
    color: var(--clr1);
}

.sec_sub_heading{
    font-size: 1.2rem;
    font-weight: 500;
}

/* buttons */
.button{
    background-color: transparent;
    color: var(--clr1);
    border: solid 1px var(--clr1);
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-weight: 500;
    text-transform: capitalize;
}
.button:hover{
    background-color: var(--clr1);
    color: var(--light);
}
.action{
    background-color: var(--clr1);
    color: var(--light);
}

/* colors */
:root{
    --clr1: #08416D;
    --clr2: #94C8F0;
    --clr3: #A1D0D4;
    --light: #FCFDFD;
    --dark: #222831;
}

/* header starts here */
#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 1rem;
}
#header img{
    width: 10rem;
}
#header nav{
    display: flex;
    align-items: center;
    gap: 3rem;
}
#header nav ul{
    display: flex;
    gap: 2rem;
}
#header li a{
    color: var(--dark);
    font-weight: 500;
    border-bottom: solid 2px transparent;
    padding: .1rem .2rem;
}
#header li a:hover{
    color: var(--clr1);
    font-weight: 500;
    border-color: var(--clr1);
}
/* header ends here */

/* hero section starts here */
#hero{
    background-image: linear-gradient(45deg, var(--clr2), var(--clr3), var(--light));
    overflow: hidden;
    height: 100vh;
}
#hero .hero{
    background-image: url(/pictures/hero\ bg.svg);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
#hero .hero_info{
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#hero .sec_heading{
    font-size: 3rem;
}
/* hero section ends here */