@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* variables */
:root{
    --clr1: #1d686f;
    --clr2: #94C8F0;
    --clr3: #A1D0D4;
    --light: #FCFDFD;
    --dark: #222831;
    --shadow: #22283111 0 0 10px 5px;
}

/* universal stuff */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    transition: ease .3s;
    font-family: Montserrat;
    color: var(--dark);
}

*::selection{
    background-color: var(--clr1);
    color: var(--light);
}

html{
    background-color: #C0E1E3;
    font-size: 14px;
}

a{
    display: inline-block;
}

.container{
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

/* sidebar starts here */
#sidebar{
    width: 300px;
    height: 100%;
    background-color: #ffffffc0;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: var(--shadow);
}
#sidebar .sidebar_top{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#sidebar .logo{
    width: 100%;
}
#sidebar nav ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#sidebar a img{
    width: 1.5rem;
}
#sidebar li a, #sidebar .sidebar_bottom a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    padding: 1rem;
    border-radius: .5rem;
}
#sidebar li a:hover, #sidebar .sidebar_bottom a:hover{
    background-color: white;
    gap: 1.5rem;
    box-shadow: var(--shadow);
}
#sidebar .active{
    background-color: white;
    box-shadow: var(--shadow);
}
/* sidebar ends here */

/* main section starts here */
#main{
    width: 100%;
    height: 100%;
    background-color: #fcfdfd4f;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* topbar */
#topbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: .5rem;
}
#topbar .breadcrumb{
    text-transform: capitalize;
}
#topbar .page_title{
    color: var(--clr1);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
}
#topbar .msg{
    font-weight: 500;
    font-size: 1.2rem;
}
#topbar .user{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#topbar .user_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: solid var(--clr1) 2px;
}

/* main */
main{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* footer */
#footer{
    text-align: center;
    color: #222831a0;
    font-size: .8rem;
    text-transform: capitalize;
}
#footer span{
    color: var(--clr1);
    text-transform: uppercase;
    font-weight: 500;
}
/* main section ends here */


/* dashboard strats here */
#dashboard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#dashboard .status_container{
    display: flex;
    gap: 1rem;
}
#dashboard .status{
    width: 100%;
    min-width: 15rem;
    background-color: #ffffffc0;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start
}
#dashboard .status:hover{
    background-color: white;
    box-shadow: var(--shadow);
}
#dashboard .status:hover img{
    transform: rotate(360deg);
}
#dashboard .status_icon{
    width: 2rem;
}
#dashboard .status_info{
    text-transform: capitalize;
}
#dashboard .status_title{
    color: var(--clr1);
    font-size: 1.3rem;
    font-weight: 600;
}

/* table */
#dashboard .transaction_table{
    width: 100%;
    background-color: #ffffff65;
    border-radius: .5rem;
    padding: 1rem;
    overflow: scroll;
}
#dashboard table{
    width: 100%;
}
table, th, td{
    border-collapse: collapse;
}
tbody tr{
    cursor: pointer;
}
tbody tr:nth-child(odd){
    background-color: #ffffff65;
}
tbody tr:nth-child(even){
    background-color: #e6e6e662;
}
tbody tr:hover{
    background-color: white;
    box-shadow: var(--shadow);
}
#dashboard .transaction_table th{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem;
}
#dashboard thead th:nth-child(2){
    text-align: left;
}
#dashboard .transaction_table th span{
    display: flex;
    align-items: center;
    gap: .5rem;
}
#dashboard .transaction_table td{
    text-transform: capitalize;
    padding: .5rem;
}
#dashboard .transaction_table td:nth-child(1){
    text-align: center;
}
#dashboard .transaction_table td:nth-child(2){

}
#dashboard .transaction_table td:nth-child(3){
    text-align: center;
}
#dashboard .transaction_table td:nth-child(4){
    text-align: center;
}
#dashboard .transaction_table td:nth-child(5){
    text-align: center;

}
/* dashboard ends here */



/* profile starts here */
#profile{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    gap: 2rem;
    padding: 1rem;
}
#profile .heading{
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--clr1);
}
#profile .card{
    width: 100%;
    max-width: 500px;
    background-color: #ffffff65;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#profile form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#profile .input{
    display: flex;
    flex-direction: column;
}
#profile label{
    font-weight: 500;
    margin-bottom: .3rem;
}
#profile input{
    border: none;
    outline: none;
    background-color: #ffffff97;
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-size: 1rem;
}
#profile input:focus{
    box-shadow: var(--shadow);
    background-color: white;
}
#profile .input_img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
#profile .input_img img{
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    object-fit: cover;
}
#profile .upload_img{
    background-color: #ffffff97;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#profile .upload_img:hover{
    background-color: white;
}
#profile .input_img input{
    display: none;
}
#profile hr{
    border-color: #22283110;
    margin: .5rem 0;
}
#profile .buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#profile .button{
    width: fit-content;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    border: var(--clr1) solid 1px;
    border-radius: .5rem;
    cursor: pointer;
}
#profile .button:hover{
    box-shadow: var(--shadow);
}
#profile .action{
    background-color: var(--clr1);
    color: var(--light);
}
/* profile ends here */



/* connection starts here */
#connection{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}
#connection .connection_img{
    width: 100%;
    max-width: 400px;
}
#connection .connection_details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
#connection .status_card{
    width: 100%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #ffffffa9;
}
#connection .status_card:hover{
    background-color: white;
    box-shadow: var(--shadow);
    cursor: pointer;
}
#connection .icon{
    width: 100%;
    max-width: 3rem;
}
#connection .status{
    color: var(--dark);
    font-weight: 600;
    font-size: 1.3rem;
}
#connection .details{
    width: 100%;
    max-width: 30rem;
    background-color: #ffffffa9;
    padding: 1rem;
    border-radius: .5rem;
}
#connection table{
    width: 100%;
}
#connection tr{
    background-color: transparent;
}
#connection tr:hover{
    background-color: white;
}
#connection th, #connection td{
    text-align: left;
    padding: 1rem;
    letter-spacing: 1px;
}
#connection th{
    font-weight: 500;
}
/* connection ends here */


/* subscription starts here */
#subscription{
    padding: 1rem;
}
#subscription .card_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#subscription .card{
    width: 100%;
    max-width: 30rem;
    background-color: #ffffffa9;
    padding: 1rem;
    border-radius: .5rem;
}
#subscription .card .plan_name{
    font-size: 3rem;
    font-weight: 600;
    color: var(--clr1);
    margin-bottom: .5rem;
}
#subscription .card p{
    font-size: .8rem;
}
#subscription .card span{
    color: var(--clr1);
    font-weight: 500;
}
/* subscription ends here */