@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* variables */
:root {
  --light: #fffdf9;
  --light_green: #fafff2;
  --light_gold: #fffaec;
  --gold: #e5d9b6;
  --green1: #a4be7b;
  --green2: #5f8d4e;
  --green3: #285430;
  --primary: #0f3015;
  --dark: #011204;
  --border: solid 0.3rem #0f30150f;
  --shadow-light: #0f30151c 0 0 10px;
  --shadow-dark: #0f30151c 0 0 10px 5px;
}

/* universal stuff */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  transition: ease 0.3s;
  font-family: Montserrat;
  color: var(--dark);
}

*::selection {
  background-color: var(--primary);
  color: var(--light);
}

html {
  font-size: 14px;
  background-color: var(--light);
}

a {
  display: inline-block;
}

section {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

/* buttons */
.buttons {
  display: flex;
  gap: 1rem;
}
.button {
  background-color: transparent;
  color: var(--primary);
  border: solid 1px var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}
.button:hover {
  background-color: var(--primary);
  box-shadow: var(--shadow-dark);
  color: var(--light);
}
.cancel:hover {
  background-color: crimson;
  border-color: crimson;
}
.action {
  background-color: var(--primary) !important;
  color: var(--light);
}

/* modal */
.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #01120450;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal {
  width: 95%;
  max-width: 35rem;
  background-color: var(--light_gold);
  border-radius: 1rem;
  padding: 1rem;
}
.modal_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modal_heading {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.modal_close img {
  width: 2rem;
}
.modal_close {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--light);
  border: var(--border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_close:hover {
  background-color: crimson;
}
.modal_close:hover img {
  transform: rotate(180deg);
}
.modal hr {
  border-color: #01120450;
}

/* sidebar starts here */
#sidebar {
  width: 300px;
  height: 100%;
  background-color: var(--light_gold);
  border: var(--border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
#sidebar .sidebar_top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#sidebar .logo {
  width: 100%;
}
#sidebar nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#sidebar a img {
  width: 1.5rem;
}
#sidebar li a,
#sidebar .sidebar_bottom a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 0.5rem;
}
#sidebar li a:hover,
#sidebar .sidebar_bottom a:hover,
#sidebar li a:active,
#sidebar .sidebar_bottom a:active,
#sidebar li a:focus,
#sidebar .sidebar_bottom a:focus {
  background-color: var(--light);
  gap: 1.5rem;
  box-shadow: var(--shadow-light);
}
#sidebar .active {
  background-color: var(--light);
  box-shadow: var(--shadow-light);
}
/* sidebar ends here */

/* main section starts here */
#main {
  width: 100%;
  height: 100%;
  background-color: var(--light_gold);
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* topbar */
#topbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
}
#topbar .breadcrumb {
  text-transform: capitalize;
}
#topbar .page_title {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
#topbar .msg {
  font-weight: 500;
  font-size: 1.2rem;
}
#topbar .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#topbar .user_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: solid var(--primary) 2px;
}

/* main */
main {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* footer */
#footer {
  text-align: center;
  color: var(--dark);
  font-size: 0.8rem;
  text-transform: capitalize;
}
#footer span {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 500;
}
/* main section ends here */

/* dashboard starts here */
#dashboard .card_container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
#dashboard .card {
  width: 21rem;
  height: 7rem;
  padding: 1rem;
  background-color: var(--light);
  border: var(--border);
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
#dashboard .card:hover {
  box-shadow: var(--shadow-light);
  background-color: var(--gold);
}
#dashboard .card:hover .card_img {
  transform: rotate(360deg);
}
#dashboard .card_info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
#dashboard .card_heading {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--green3);
}
#dashboard .card_img {
  width: 2rem;
  transition: ease 1s;
}
#dashboard .total {
  font-size: 3rem;
  font-weight: 500;
}
/* dashboard ends here */

/* profile starts here */
#profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
#profile .heading {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--primary);
}
#profile .card {
  width: 100%;
  max-width: 500px;
  background-color: var(--light);
  border: var(--border);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#profile form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#profile .input {
  display: flex;
  flex-direction: column;
}
#profile label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}
#profile input {
  border: none;
  outline: none;
  background-color: var(--light_gold);
  border: var(--border);
  border-width: 2px;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}
#profile input:focus {
  background-color: var(--gold);
  box-shadow: var(--shadow-light);
}
#profile .input_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#profile .input_img img {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  object-fit: cover;
  border: var(--border);
  border-width: 2px;
}
#profile .upload_img {
  background-color: var(--light_gold);
  border: var(--border);
  border-width: 2px;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#profile .upload_img:hover {
  background-color: var(--gold);
}
#profile .input_img input {
  display: none;
}
#profile hr {
  border-color: #f2e7d521;
  margin: 0.5rem 0;
}
#profile .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#profile .button {
  width: fit-content;
  width: -moz-fit-content;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  border-radius: 0.3rem;
  cursor: pointer;
}
#profile .action:hover {
  background-color: var(--gold) !important;
  color: var(--dark);
}
#profile .cancel:hover {
  background-color: crimson;
  border-color: crimson;
  color: var(--light);
}
/* profile ends here */

/* list starts here */
.search_bar {
  background-color: var(--light);
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border: var(--border);
  margin-bottom: 1rem;
}
.search_bar input {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem 0.5rem;
  border: none;
  outline: none;
  background: transparent;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.search_bar img {
  width: 2rem;
}
table,
th,
td {
  border-collapse: collapse;
}
table {
  width: 100%;
  text-align: center;
}
tr {
  width: 100%;
  overflow: hidden;
}
table th {
  padding: 0.8rem 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
table tr:hover {
  background-color: var(--light);
  box-shadow: var(--shadow-light);
}
table td {
  padding: 0.8rem 0.5rem;
  border-bottom: #01120417 1px solid;
}
table tr:last-child td {
  border-bottom: none;
}
table td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
table td:last-child .button {
  padding: 0.2rem 0.5rem;
}
table td:last-child .view:hover {
  background-color: rgb(8, 154, 147);
  border-color: rgb(8, 154, 147);
}
table td:last-child .edit:hover {
  background-color: rgb(82, 49, 214);
  border-color: rgb(82, 49, 214);
}
table td:last-child .delete:hover {
  background-color: rgb(196, 21, 56);
  border-color: rgb(196, 21, 56);
}
/* list ends here */

/* view edit delete modal starts here */
/* view modal */
#viewModal .modal {
  background-color: rgb(244, 255, 255);
}
#viewModal .modal_close:hover,
#viewModal .modal_close:active {
  background-color: crimson;
}
#viewModal .view {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
#viewModal .view img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
  border: var(--border);
}
#viewModal dl {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#viewModal .dl {
  display: flex;
  gap: 1rem;
}
#viewModal dt {
  font-weight: 500;
}
#viewModal dt,
#viewModal dd {
  flex: 1;
}

/* edit modal */
#editModal .modal {
  background-color: rgb(246, 244, 255);
}
#editModal .edit {
  margin-top: 1rem;
  width: 100%;
}
#editModal .input {
  display: flex;
  flex-direction: column;
}
#editModal label {
  font-weight: 500;
  padding: 0 0.5rem;
}
#editModal input,
#editModal textarea {
  border: var(--border);
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  margin: 0.3rem 0 1rem 0;
  resize: vertical;
}
#editModal .buttons {
  justify-content: center;
}

/* delete modal */
#deleteModal .modal {
  max-width: 20rem;
  background-color: rgb(255, 240, 244);
}
#deleteModal .delete {
  background-color: crimson;
  color: var(--light);
  border-color: crimson;
}
#deleteModal .buttons {
  margin-top: 1rem;
  justify-content: center;
}
/* view edit delete modal ends here */

/* settings starts here */
#settings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
#settings .heading {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--primary);
}
#settings .card {
  width: 100%;
  max-width: 500px;
  background-color: var(--light);
  border: var(--border);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#settings form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#settings .input {
  display: flex;
  flex-direction: column;
}
#settings label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}
#settings input {
  border: none;
  outline: none;
  background-color: var(--light_gold);
  border: var(--border);
  border-width: 2px;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}
#settings input:focus {
  background-color: var(--gold);
  box-shadow: var(--shadow-light);
}
#settings .input_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#settings .input_img img {
  width: 15rem;
  height: 5rem;
  border-radius: 0.5rem;
  object-fit: cover;
  border: var(--border);
  border-width: 2px;
}
#settings .upload_img {
  background-color: var(--light_gold);
  border: var(--border);
  border-width: 2px;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#settings .upload_img:hover {
  background-color: var(--gold);
}
#settings .input_img input {
  display: none;
}
#settings hr {
  border-color: #f2e7d521;
  margin: 0.5rem 0;
}
#settings .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#settings .button {
  width: fit-content;
  width: -moz-fit-content;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  border-radius: 0.3rem;
  cursor: pointer;
}
#settings .action:hover {
  background-color: var(--gold) !important;
  color: var(--dark);
}
#settings .cancel:hover {
  background-color: crimson;
  border-color: crimson;
  color: var(--light);
}
/* settings ends here */
