/* master layout stats here */
@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  #sidebar {
    width: 200px;
  }
  #sidebar nav a,
  #sidebar .sidebar_bottom a {
    gap: 0.5rem;
  }
  #sidebar nav a:hover,
  #sidebar .sidebar_bottom a:hover,
  #sidebar .active {
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    padding: 0.5rem;
    gap: 0.5rem;
  }
  #sidebar {
    width: fit-content;
    padding: 0.5rem;
  }
  #sidebar a span,
  #sidebar .logo {
    display: none;
  }
  #topbar {
    padding: 0.5rem;
    align-items: center;
  }
  #topbar .user {
    gap: 0.5rem;
  }
  #topbar .user img {
    width: 30px;
    height: 30px;
  }
  #topbar .page_title {
    font-size: 1.5rem;
  }
  #topbar .msg {
    display: none;
  }
}
/* master layout ends here */

/* profile starts here */
@media only screen and (max-width: 930px) {
  #profile {
    flex-direction: column;
  }
}
/* profile ends here */

/* users starts here */
@media only screen and (max-width: 850px) {
  #users td:nth-child(3),
  #users th:nth-child(3),
  #users td:nth-child(4),
  #users th:nth-child(4) {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  #viewModal .view img {
    display: none;
  }
}
/* users ends here */
